body {
    background-color: #000000;
    margin: 0;
    

}

.header {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    justify-content: space-between;

}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
   

}


.logo{
    width: 100px;
    padding: 10px;
}


.logo-text {
    color: #f9fcff;
    font-family: "COMFORTAA";
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  
   
}

.menu-item { 
    color: #f9fcff;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 10px;
    padding-right: 10px;
   font-family: "COMFORTAA";
}

.menu-item:hover{ 
   background-color:  #33cccc;
}



.banner {
    background-image: url(img/background.png);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-repeat: no-repeat;
    
}

.inner-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 600px;
    height: 200px;
    border-color: #f9fcff;
    border-style:solid;
    border-width:thin;
}

.banner-text { 
    font-family: "COMFORTAA";
    color: #f9fcff;
    text-align: center;
}




.devs {
    height: 40%;
    width: 100px;
   display: flex;
   justify-content: center;
}
.final {
    display: flex;
    justify-content: space-around;
    align-items:center; 
    color: #f9fcff;
    background-color: #000000;
}

.icones-final  {
    height: 95%;
    width: 115px;
    display: flex;
    justify-content: space-between;
    
}

.icone {
    width: 20px;
    height: 25px;;
}
 
.icone.facebook {
    height: 25%;
    width: 40px;
}

.menu-final-item {
    font-family: "COMFORTAA"
}

.bannertext {
  display: flex;
  align-items: center;
}

@font-face {
    font-family: COMFORTAA;
    src: url('fontes/COMFORTAA.BOLD.TTF');
}